<html>
    <head>
    	{{> 'head.hbs'}}
        <title>Chiburger - Account</title>
    </head>
    <body>
    	{{> 'header.hbs'}}
        <div id="content-wrapper">
            <h2>YOUR BOOKINGS</h2>
            <div id="cur-orders"></div>
            <div id="prev-orders"></div>
        </div>
        {{> 'sidepane.hbs'}}
        {{> 'scripts.hbs'}}
        <script src="/js/account.js"></script>
    </body>
</html>
